back/views/index.jade
html(lang="en")
	head
		title Prueba
		meta(charset="UTF-8")
		link(rel="stylesheet" type="text/css" href="public/css/style.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet")
		script(src="https://kit.fontawesome.com/a81368914c.js")
		
	body
		img(class="wave" src="public/img/wave.png")
		script(type="text/javascript" src="public/js/main.js")
		div(class="container")
			div(class="img")
				img(src="public/img/bg.svg")
			div(class="login-content")
				form(action="/login", method="post")
					img(src="public/img/avatar.svg")
					h2(class="title") Bienvenido
					div(class="input-div one")
						div(class="i")
							i(class="fas fa-user")
						div(class="div")
							h5 Usuario
							input(type="text" name="username" id="username" class="input")
					div(class="input-div one")
						div(class="i")
							i(class="fas fa-envelope")
						div(class="div")
							h5 Correo
							input(type="text" name="correo" id="correo" class="input")
					div(class="input-div pass")
						div(class="i")
							i(class="fas fa-lock")
						div(class="div")
							h5 Contraseña
							input(type="password" name="password" id="password" class="input")
					a(href="#") Forgot Password?
					input(type="submit" class="btn" value="Login")
		script(type="text/javascript" src="public/js/main.js")

front/index.html
<html>
<head>
    <title>Prueba</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>
<body>
    <img class="wave" src="img/wave.png">
	<div class="container">
		<div class="img">
			<img src="img/bg.svg">
		</div>
		<div class="login-content">
			<form action="index.html">
				<img src="img/avatar.svg">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input">
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
